<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="4irinc">
    <meta name="keywords" content="4irinc">
    <meta name="author" content="4irinc">
    <link rel="icon" href="../assets/images/4IR Logo.png" type="image/x-icon" />
    <link rel="shortcut icon" href="../assets/images/4IR Logo.png" type="image/x-icon" />
    <title>Fourth Industrial Revolution Inc.</title>

    <!--Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700;900&display=swap" rel="stylesheet">

    <!-- bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="../assets/css/vendors/bootstrap.css">

    <!-- remixicon css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/remixicon.css">

    <!-- iconsax css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/iconsax.css" />

    <!-- animation css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/aos.css">

    <!-- swiper slider css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/swiper-bundle.min.css" />

    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">

    <link rel="stylesheet" href="../assets/css/landing.css">
    <style>
        .container {
            margin-top: 3rem;
        }
    
        .offers_container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            margin-top: 2rem;
            gap: 2rem;
            transition: .5s all ease;
        }

        @media screen and (min-width:1400px) {
            .offers_container {
                grid-template-columns: repeat(2,1fr);
            }

            
        }
    
        /* @media screen and (min-width:1200px) {
            .offers_container:has(:hover) > :not(:hover) {
            opacity: 0.6;
            scale: .8;
        }
        } */
        
    
        .offer_box {
            border: 2px solid grey;
            transition: .5s all ease;
            cursor: pointer;
            box-shadow: 0 0 10px 0px rgba(0, 189, 255, 1);
            background-color: #0a0e17;
        }
    
        .offer_box:hover {
            border-color: rgba(0, 189, 255, 1);
            box-shadow: 0 0 10px 4px rgba(0, 189, 255, 1);
        }
    
        .offer_box .offer_img {
            z-index: -10;
        }
    
        .offer_box img {
            width: 100%;
        }
    
        .offer_box .offer_content {
            padding: 1rem;
            z-index: 100;
            color: #fff;
        }
    
        .offer_box .offer_content h3 {
            font-size: 1.4rem;
            font-weight: 600;
        }
    
        .offer_box .offer_content ul {
            list-style-position: outside;
            color: #fff;
            padding: 0 .5rem;
        }
    
        .offer_box .offer_content ul li {
            list-style: disc !important;
            list-style-type: disc !important;
            display: list-item !important;
        }
    
        @media screen and (max-width:600px) {
            .offers_container {
                grid-template-columns: 1fr;
            }
        }
    
        .dropdown-arrow {
            background: none;
            border: none;
            padding: 0;
            margin-left: 5px;
        }
    
        .dropdown-arrow::after {
            display: inline-block;
            margin-left: .255em;
            vertical-align: .255em;
            content: "";
            color: rgba(0, 189, 255, 1);
            border-top: .3em solid;
            border-right: .3em solid transparent;
            border-bottom: 0;
            border-left: .3em solid transparent;
        }
    
        @media (max-width: 1199px) {
            .nav-item.dropdown {
                display: flex;
                flex-wrap: wrap;
            }
    
            .nav-item.dropdown .nav-link {
                flex: 1;
            }
    
            .navbar-nav .dropdown-menu {
                position: static;
                float: none;
                width: 100%;
                margin-top: 0;
                background-color: transparent;
                border: 0;
                box-shadow: none;
            }
        }
    
        .navbar-nav .nav-item {
            position: relative;
        }
    
        header #logo-img {
            position: relative;
            margin-top: -1.4rem;
        }
    
        @media screen and (max-width:600px) {
            header #logo-img {
                margin-top: 0;
            }
        }
    </style>
    


</head>

<body>


    <!--custom cursor start  -->
    <div id="cursor"></div>
    <div id="cursor-border"></div>
    <!--custom cursor start  -->



    <!-- header start -->
    <header>
        <button class="navbar-toggler d-xl-none d-inline navbar-menu-button" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#primaryMenu">
            <span class="navbar-toggler-icon">
                <i class="iconsax" data-icon="text-align-justify"></i>
            </span>
        </button>
        <a href="../home.html">
            <img src="../assets/images/main-logo.png" id="logo-img" class="img-fluid" alt="logo">
        </a>
        <nav class="header-nav-middle">
            <div class="main-nav navbar navbar-expand-xl navbar-light navbar-sticky">
                <div class="offcanvas offcanvas-collapse order-xl-2" id="primaryMenu">
                    <div class="offcanvas-header navbar-shadow">
                        <h5 class="mb-0">Back</h5>
                        <button class="btn-close lead" type="button" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="../home.html">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="./about.html">About Us</a>
                            </li>

                            <li class="nav-item dropdown active">
                                <a class="nav-link" href="./services.html" id="servicesLink">
                                    Services
                                </a>
                                <button class="dropdown-toggle dropdown-arrow" id="servicesDropdown"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
                                    <li>
                                        <a class="dropdown-item" href="./strategic_counselling.html">Strategic
                                            Counseling</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="./landing.html">AITalkAssist</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/html/4ir Education/4ir.html">Training &
                                            Education</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="./blog-grid.html">Blog</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="./contact-us.html">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <a data-cursor="pointer" href="/html/contact-us.html" style="position: relative; margin-top: -1.4rem;" class="btn btn-theme d-sm-inline-block d-none"><span>Book a Demo</span></a>
    </header>
    <!-- header end -->


    <!-- home section start -->
    <section id="home" class="section-b-space home-section">
        <div class="container-fluid">
            <div class="home-sec" style="text-align: center;
            justify-content: center; display: flex;">
                <div class="home-content" style="margin-top: 5rem;">
                    <div>
                        <h2 style="font-size: 18px; font-family: 'Play', sans-serif;">FOURTH INDUSTRIAL REVOLUTION INC
                        </h2>
                        <h1 style="font-size: 30px;">Strategic Counseling Services</h1>
                        <p>Business Automation with Technology and AI on it</p>
                        <!-- <div class="d-flex flex-row gap-3 mx-5">

                            <a href="html/index.html" class="btn-solid">Get started <i class="iconsax"
                                    data-icon="arrow-right"></i></a>

                            <a href="html/index.html" class="btn-solid">Learn More <i class="iconsax"
                                    data-icon="arrow-right"></i></a>
                        </div> -->
                    </div>
                </div>
                <!-- <div class="home-img d-lg-flex d-none">
                    <img src="../assets/images/landing/robot.png" class="img-fluid robot-img" alt="robot">
                    <div class="round-effect">
                        <img src="../assets/images/landing/round.gif" class="img-fluid " alt="robot">
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <!-- home section end -->


    <div id="offers" class="section-b-space">
        <div class="container">
            <h1 class="text-center text-white">We Are Offering</h1>
            <div class="offers_container">
                <div class="offer_box">
                    <div class="offer_img">
                        <img src="/assets/images/services/strategic counselling/strategic consulting.png" alt="">
                    </div>
                    <div class="offer_content">
                        <h3>Strategic Consulting</h3>
                        <ul>
                            <li>Assessment of current technology landscape and identification of gaps</li>
                            <li>Prioritization of technology initiatives based on business objectives and ROI</li>
                            <li>Development of a phased implementation plan with milestones and deadlines</li>
                            <li>Guidance on budget allocation and resource management for technology adoption</li>
                        </ul>
                    </div>
                </div>
                <div class="offer_box">
                    <div class="offer_img">
                        <img src="/assets/images/services/strategic counselling/business model innovation.png" alt="">
                    </div>
                    <div class="offer_content">
                        <h3>Business Model Innovation</h3>
                        <ul>
                            <li>Evaluation of existing business model and identification of areas for improvement</li>
                            <li>Exploration of new revenue streams and value propositions enabled by technology</li>
                            <li>Assistance with the design and validation of innovative business models</li>
                            <li>Guidance on the implementation and scaling of new business models</li>
                        </ul>
                    </div>
                </div>
                <div class="offer_box">
                    <div class="offer_img">
                        <img src="/assets/images/services/strategic counselling/digital workforce strategy.png" alt="">
                    </div>
                    <div class="offer_content">
                        <h3>Digital Workforce Strategy</h3>
                        <ul>
                            <li>Assessment of current workforce skills and identification of future skill requirements
                            </li>
                            <li>Development of a digital workforce transformation plan</li>
                            <li>Guidance on talent acquisition, upskilling, and reskilling strategies</li>
                            <li>Assistance with the implementation of digital workforce management practices</li>
                        </ul>
                    </div>
                </div>
                <div class="offer_box">
                    <div class="offer_img">
                        <img src="/assets/images/services/strategic counselling/data governance and management.png" alt="">
                    </div>
                    <div class="offer_content">
                        <h3>Data Governance And Management</h3>
                        <ul>
                            <li>Assessment of current data management practices and identification of gaps</li>
                            <li>Development of a comprehensive data governance framework</li>
                            <li>Guidance on data quality, security, privacy, and compliance issues</li>
                            <li>Assistance with the implementation of data management tools and processes</li>
                        </ul>
                    </div>
                </div>
                <div class="offer_box">
                    <div class="offer_img">
                        <img src="/assets/images/services/strategic counselling/digital supply chain optimization.png" alt="">
                    </div>
                    <div class="offer_content">
                        <h3>Digital Supply Chain Optimization</h3>
                        <ul>
                            <li>Evaluation of current supply chain processes and identification of inefficiencies</li>
                            <li>Exploration of digital technologies to optimize supply chain performance</li>
                            <li>Development of a digital supply chain transformation roadmap</li>
                            <li>Guidance on the implementation of digital supply chain solutions</li>
                        </ul>
                    </div>
                </div>
                <div class="offer_box">
                    <div class="offer_img">
                        <img src="/assets/images/services/strategic counselling/customer experience transformation.png" alt="">
                    </div>
                    <div class="offer_content">
                        <h3>Customer Experience Transformation</h3>
                        <ul>
                            <li>Assessment of current customer experience and identification of improvement areas</li>
                            <li>Exploration of digital technologies to enhance customer engagement and loyalty</li>
                            <li>Development of a customer experience transformation strategy</li>
                            <li>Guidance on the implementation of digital customer experience solutions</li>
                        </ul>
                    </div>
                </div>
                <div class="offer_box">
                    <div class="offer_img">
                        <img src="/assets/images/services/strategic counselling/digital ecosystem partnership.png" alt="">
                    </div>
                    <div class="offer_content">
                        <h3>Digital Ecosystem Partnerships</h3>
                        <ul>
                            <li>Evaluation of existing business model and identification of areas for improvement</li>
                            <li>Exploration of new revenue streams and value propositions enabled by technology</li>
                            <li>Assistance with the design and validation of innovative business models</li>
                            <li>Guidance on the implementation and scaling of new business models</li>
                        </ul>
                    </div>
                </div>
                <div class="offer_box">
                    <div class="offer_img">
                        <img src="/assets/images/services/strategic counselling/digital governance and risk management.png" alt="">
                    </div>
                    <div class="offer_content">
                        <h3>Digital Governance And Risk Management</h3>
                        <ul>
                            <li>Assessment of current digital governance practices and identification of gaps</li>
                            <li>Development of a comprehensive digital governance framework</li>
                            <li>Guidance on digital risk assessment, mitigation, and monitoring strategies</li>
                            <li>Assistance with the implementation of digital governance and risk management processes
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="offer_box">
                    <div class="offer_img">
                        <img src="/assets/images/services/strategic counselling/change management and adoption.png" alt="">
                    </div>
                    <div class="offer_content">
                        <h3>Change Management And Adoption</h3>
                        <ul>
                            <li>Assessment of organizational readiness for change and identification of barriers</li>
                            <li>Development of a change management and adoption strategy</li>
                            <li>Guidance on stakeholder engagement, communication, and training strategies</li>
                            <li>Assistance with the implementation of change management and adoption programs</li>
                        </ul>
                    </div>
                </div>
                <div class="offer_box">
                    <div class="offer_img">
                        <img src="/assets/images/services/strategic counselling/digital innovation culture.png" alt="">
                    </div>
                    <div class="offer_content">
                        <h3>Digital Innovation Culture</h3>
                        <ul>
                            <li>Assessment of current organizational culture and identification of cultural barriers to
                                innovation</li>
                            <li>Development of a digital innovation culture transformation plan</li>
                            <li>Guidance on leadership development, employee engagement, and incentive strategies</li>
                            <li>Assistance with the implementation of digital innovation culture initiative</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- footer section start-->
    <footer>
        <div class="container">
            <div class="footer-row">
                <div class="footer-main">
                    <a href="#" class="footer-logo"><img src="../assets/images/main-logo.png" id="logo-img" class="img-fluid" alt=""></a>
                    <h3>SUBSCRIBE TO OUR NEWSLETTER</h3>
                    <form>
                        <div class="input-group">
                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                placeholder="Enter your mail">
                            <a href="" data-cursor="pointer" class="btn-basic">Subscribe</a>
                        </div>
                    </form>
                    <ul class="social-links">
                        <li><a data-cursor="pointer" target="_blank" href="https://www.facebook.com/4IRinc"><img
                                    src="../assets/svg/social/fb.svg" class="img-fluid" alt="facebook"></a></li>
                        <li><a data-cursor="pointer" target="_blank" href="https://www.linkedin.com/company/fourth-industrial-revolution-inc/"><img
                                    src="../assets/svg/social/linkedin.svg" class="img-fluid" alt="linkedin"></a></li>
                        <li><a data-cursor="pointer" target="_blank" href="https://www.youtube.com/@BarryKrevoy"><img
                                    src="../assets/svg/youtube.svg" class="img-fluid" alt="youtube"></a></li>
                    </ul>
                </div>
                <div class="link-section">
                    <div class="footer-title">
                        <img src="../assets/svg/star.svg" class="img-fluid" alt="star">
                        Quick Link
                    </div>
                    <div class="footer-content">
                        <ul>
                            <li><a data-cursor="pointer" href="/home.html">Home</a></li>
                            <li><a data-cursor="pointer" href="/html/blog-grid.html">Blog</a></li>
                            <li><a data-cursor="pointer" href="/html/services.html">Services</a></li>
                            <li><a data-cursor="pointer" href="./contact-us.html">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="link-section">
                    <div class="footer-title">
                        <img src="../assets/svg/star.svg" class="img-fluid" alt="star">
                        Our service
                    </div>
                    <div class="footer-content">
                        <ul>
                            <li><a data-cursor="pointer" href="./strategic_counselling.html">Strategic Counselling</a>
                            </li>
                            <li><a data-cursor="pointer" href="./landing.html">AI Talk Assist</a></li>
                            <li><a data-cursor="pointer" target="_blank" href="/html/4ir Education/4ir.html">Training &
                                    Education</a></li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="link-section">
                    <div class="footer-title">
                        <img src="./assets/svg/star.svg" class="img-fluid" alt="star">
                        Our company
                    </div>
                    <div class="footer-content">
                        <ul>
                            <li><a data-cursor="pointer" href="login.html">Login</a></li>
                            <li><a data-cursor="pointer" href="blog-listing.html">Blog listing</a></li>
                            <li><a data-cursor="pointer" href="blog-grid.html">Blog Grid</a></li>
                            <li><a data-cursor="pointer" href="blog-details.html">Blog Details</a></li>
                        </ul>
                    </div>
                </div> -->
            </div>
            <div class="footer-copyright">
                <h4>@2024 All the Copyright Reserved.</h4>
                <ul class="footer-links">
                    <li><a href="/html/privacy.html">Privacy Policy </a></li>
                    <li><a href="/html/terms.html">Terms & Condition </a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- footer section end-->


    <script>


        document.addEventListener('DOMContentLoaded', function () {
            var servicesLink = document.getElementById('servicesLink');
            var servicesDropdown = document.getElementById('servicesDropdown');
            var dropdownMenu = servicesDropdown.nextElementSibling;
            var isXlScreen = window.innerWidth >= 1200; // Define XL breakpoint

            function toggleDropdown(event) {
                event.preventDefault();
                event.stopPropagation();
                if (dropdownMenu.style.display === 'block') {
                    dropdownMenu.style.display = 'none';
                } else {
                    dropdownMenu.style.display = 'block';
                }
            }

            servicesDropdown.addEventListener('click', toggleDropdown);

            // For mobile view, prevent the link from navigating when the dropdown is open
            servicesLink.addEventListener('click', function (event) {
                if (!isXlScreen && dropdownMenu.style.display === 'block') {
                    event.preventDefault();
                }
            });

            // Update isXlScreen on window resize
            window.addEventListener('resize', function () {
                isXlScreen = window.innerWidth >= 1200;
                if (isXlScreen) {
                    dropdownMenu.style.display = '';
                }
            });
        });


    </script>

    <!-- Bootstrap js-->
    <script src="../assets/js/bootstrap.bundle.min.js"></script>

    <!-- slider js-->
    <script src="../assets/js/swiper-bundle.min.js"></script>
    <script src="../assets/js/custom-slider.js"></script>

    <!-- custom cursor -->
    <script src="../assets/js/custom-cursor.js"></script>

    <!-- aos animation -->
    <script src="../assets/js/aos.js"></script>
    <script src="../assets/js/custom-aos.js"></script>

    <!-- iconsax js -->
    <script src="../assets/js/iconsax.js"></script>

    <!-- laptop animation js -->
    <script src="../assets/js/home-animation.js"></script>

    <!-- header sticky js -->
    <script src="../assets/js/header_sticky.js"></script>

    <!-- pricing js -->
    <script src="../assets/js/pricing-table.js"></script>

    <!-- Theme js-->
    <script src="../assets/js/script.js"></script>
    <script src="https://kit.fontawesome.com/3995ebe693.js" crossorigin="anonymous"></script>


</body>

</html>